.container-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 51px;
    padding: 51px;
}

.nome-completo {
    font-family: var(--fonte-terciaria);

}

.nome {
    font-weight: 800;
    font-size: 32px;
}

.sobre-nome {
    font-weight: 400;
    font-size: 32px;
}

img {
    width: 68px;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

@media screen and (min-width: 1820px) {
    .container-footer {
        margin: 0 auto;
        width: 1800px;
    }
}


@media screen and (max-width: 768px) {
    .container-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    } 
    .nome-completo{
        width: 200px;
    }
.nome {
    font-weight: 800;
    font-size: 20px;
}
.sobre-nome {
    font-weight: 400;
    font-size: 20px;
}
div img{
    width: 48px;
        height: 45px;
}
}
