<header class="container-cabecalho">
  <h1 class="nome-completo">
    <strong class="nome">Caio</strong><span class="sobre-nome">azeredo</span>
  </h1>


  <div class="material-icons" (click)="statusMenu()">
    menu
  </div>


  <ul class="itens" [class.show]="menuAberto">
    <li><a href="#home" class="home" (click)="statusMenu()">Home</a></li>
    <li><a href="#sobre" class="sobre" (click)="statusMenu()">Sobre</a></li>
    <li><a href="#trabalho" class="trabalho" (click)="statusMenu()">Trabalho</a></li>
  </ul>

  <a href="https://github.com/CaioVAzeredo">
    <img src="../../../assets/github.png" alt="github" width="32" />
  </a>
</header>