<section class="container-sobre">
    <div>
        <h2>sobre</h2>
        <hr>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At exercitationem natus ut incidunt quidem, nobis, modi
        obcaecati est, optio tenetur beatae quisquam nemo consequuntur quos unde earum! Omnis, rerum quisquam?</p>
    <div class="skills">
        <div>
            <div>
                <h3>Front-End</h3>
                <p>60+ Hours Experience</p>
            </div>
            <div>
                <h3>Python</h3>
                <p>4 Years Experience</p>
            </div>
            <div>
                <h3>Machine Learning</h3>
                <p>120+ Hours Experience</p>
            </div>
        </div>
    </div>
</section>