<section class="container-sobre">
    <div class="titulo-sobre">
        <h2>sobre</h2>
        <hr>
    </div>
    <p class="texto-sobre">Sou Caio, desenvolvedor Full Stack com experiência prática em criação de aplicações web e mobile. Apaixonado por tecnologia, estou sempre buscando evoluir minhas habilidades e entregar soluções criativas, performáticas e bem estruturadas.</p>
    <div class="skills">
        
            <div>
                <h3>Front-End</h3>
                <p>HTML, CSS, JavaScript, Angular e React.</p>
            </div>
            <div>
                <h3>Back-End</h3>
                <p>C#, JAVA e construção de APIs RESTful.</p>
            </div>
            <div>
                <h3>Banco de dados</h3>
                <p>SQL, MySQL, SQLite e modelagem relacional.</p>
            </div>
        
    </div>
</section>