<section class="container-trabalho" id="trabalho">
    <div class="titulo-trabalho">
        <h2>trabalho</h2>
        <hr>
    </div>
    <p class="texto-sobre-trabalho">
        Atualmente atuo como Desenvolvedor Full Stack, criando soluções web e mobile sob medida focadas na experiência
        do usuário, performance e escalabilidade.
    </p>
    <div class="div-trabalho">
        @for(trabalho of trabalhos; track trabalho?.titulo){
        <div>
            <div class="trabalho">
                <a [href]="trabalho.link">
                    <img [src]="trabalho.imagem" [alt]="trabalho.titulo">
                </a>
            </div>
            <div class="info-trabalho">
                <h3 class="titulo-descricao">{{trabalho.titulo}}</h3>
                <div class="skills-projeto">
                    @for(skill of trabalho.skills; track skill){
                    <p>{{skill}}</p>
                    }
                </div>
            </div>
        </div>
        }
    </div>


</section>