<section class="container-trabalho" id="trabalho">
    <div class="titulo-trabalho">
        <h2>trabalho</h2>
        <hr>
    </div>
    <p class="texto-sobre-trabalho">
        Atualmente atuo como Desenvolvedor Full Stack, criando soluções web e mobile sob medida focadas na experiência do usuário, performance e escalabilidade.
    </p>
    <div class="div-trabalho">
        <div>
            <div class="trabalhos">
                <a href=""></a>
            </div>
            <div class="info-trabalho">
                <h3 class="titulo-descricao">SITE CASAMENTO </h3>
                <div class="skills-projeto"><p>JAVASCRIPT/REACT</p> <p>C#/.NET</p> <p>MySQL</p></div>
            </div>
        </div>
        <div>
            <div class="trabalhos">
                <a href=""></a>
            </div>
            <div class="info-trabalho">
                <h3 class="titulo-descricao">SITE CASAMENTO </h3>
                <div class="skills-projeto"><p>JAVASCRIPT/REACT</p> <p>C#/.NET</p> <p>MySQL</p></div>
            </div>
        </div>
    </div>
    
        
</section>